<p>
  Fitbit Goal Incrementer does exactly what it says on the tin - it's a script you can set up to increment your Fitbit goal(s) each day.
</p>

<p>
  By default, it's set up to increment your steps goal by 10 steps per day. Assuming you're starting off with the default goal of 10,000 steps/day, tomorrow your goal would be raised to 10,010 steps, and two days from now it would be 10,020 steps, &c. But of course, you can set any increment you want!
</p>

<p>
  The point is to nudge yourself to keep pushing yourself more and more, and not grow complacent when your goals become easy for you.
</p>

<p>
  So if you want to play along, <%= link_to "sign in with Fitbit", "/auth/fitbit" %> and let's go!
</p>
