<div id="user_nav" style="float:right;margin-right:100px;">
  <% if current_user %>
    <%= link_to "Sign out of Fitbit", signout_path %>
  <% else %>
    <%= link_to "Sign in with Fitbit", "/auth/fitbit" %>
  <% end %>
</div>