<div id="user-nav">
  <% if current_user %>
    <%= link_to "About", about_path %> | <%= link_to "Home", user_path(current_user) %> | <%= link_to "Sign out", signout_path %>
  <% else %>
    <%= link_to "Sign in with Fitbit", "/auth/fitbit" %>
  <% end %>
</div>